.ais-RefinementList-item {
    display: inline-flex;
    margin-right: 1rem;
}

.ais-ClearRefinements-button {
    background-color: salmon;
}

.ais-ClearRefinements-button:hover {
    background-color: saddlebrown;
}

.ais-CurrentRefinements {
    display: inline-flex;
}

.ais-ClearRefinements {
    display: inline-flex;
}

.ais-CurrentRefinements-item {
    background-color: #666;
}

.ais-CurrentRefinements-category {
    display: inline-flex;
}

.ais-CurrentRefinements-delete {
    border-radius: 50%;
    background-color: white;
    width: 14px;
    height: 14px;
    color: black;
    font-size: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ais-RefinementList {
    margin-bottom: 2rem;
    padding: 2rem 0 2rem 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

@media (min-width: 40em) {
    .ais-RefinementList {
        overflow-x: initial;
        white-space: initial;
    }
}

.ais-ClearRefinements-button--disabled {
    display: none;
}

.ais-CurrentRefinements:not(.ais-CurrentRefinements--noRefinement) {
    margin-bottom: 1rem;
}

.ais-RefinementList-list ::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

.ais-RefinementList-list ::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
